.card img:not(.coin-icon) {
    height: none !important;
    object-fit: cover !important;
  }

.card {
        max-width: 520px;
        margin: 0 auto;
    }

.card:hover .card-body,
.card:hover img:not(.coin-icon) {
        filter: none !important;
        transition: filter 0.3s ease; /* Animación suave */
    }

.mt-5{
    height: 75% !important;
    margin-top: 5rem !important;

}

.profile-picture {
    width: 150px;
    object-fit: cover;
}

.card > img {
    height: none !important;
    object-fit: cover !important;
  }

  .card-title {
    font-size: 2rem; /* Títulos principales */
}

.list-group-item a:hover {
    text-decoration: none !important;
    color: brown !important;
    cursor: pointer !important;
}

h5 {
    font-weight: 500 !important;
}

.list-group-item {
    margin-bottom: 10px; /* Agrega un margen inferior */
    border: none; /* Opcional: elimina los bordes entre las opciones */
}
